
/* text formatting */
/* *{
    border:1px solid black;;
} */
::root{
    --bk-color:#fff;
    --text-color:#000;
    --primary-color:#12ACC4;
}

h1{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
h2{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}   
h3{
    display: inline;
    border: 1px solid black;
    padding: 3px 8px;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
hr{
    margin: 50px 0px;
}

p{
    font-family:'Inter',sans-serif;
    width:94%;
    margin-left: 3%;
}
ul{
    font-family: 'Inter', sans-serif;
    font-weight: 400;   
    list-style-type: none;
}
a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;  
    color: #6b47be;
}

a:visited {
    color: #5923d6
}
::selection {
    background: #23D632;
}
::-moz-selection {
    background: #23D632;
}
.code{
    background-color: #cdd0d0;
    padding: 1px 4px 0px;
    border-radius: 3px;
    font-family: 'IBM Plex Mono',monospace;
    font-size: small;
}
.codeBlock {
    background-color: #cdd0d0;
    border-radius: 3px;
    font-family: 'IBM Plex Mono', monospace;
    width: 80%;
    transform  :translate(10%,0)
}


.icon{
    width:20px;
    vertical-align: middle;
}

/* header */
.header{
    display: flex;
    height:50px;
    width: 100%;
    align-items: center;
}
.siteTitle a{
    display: flex;
    background-color: #000000;
    padding: 3px 8px;
    border-radius: 50px;
    color:#fff;
    width: fit-content;
    text-decoration: none;
}

/* navigation */
.nav {
    position: absolute;
    right: 30px;
    width:fit-content;
    max-width: 40%;
}   
.dropdown {
    display: none;
    position: absolute;
    right: 0px;
    clear: both;
    z-index: 1; 
    padding-top: 20px;
    max-width: 200%;
}
.nav a {
    float: right;
    color: black;
    background-color: #fff;
    display: block;
    border: 1px solid black;
    padding: 3px 8px;
    margin: 3% auto;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-align: right;
    width: max-content;
}
.nav a:hover {
    color: white;
    background-color: #000000;
}
.dropdownActive a,.siteTitle a {
    background-color: #000000;
    color: #fff;
} 
.nav:hover .dropdown {
    display: inline;
}

.prev,
.next {
    text-decoration: none;
    background-color: #000000;
    color: #fff !important;
    padding: 3px 8px;
    border-radius: 50px;
}

.next {
    float: right;
}
/* main content*/
.content{
    width:65%;
    margin: 10px auto; 
    padding:10px;
}
.imgContainer{
    padding: 10px;
}
.fullImg{
    width: 80%;
    margin-left: 10%;
}

.image{
    border-radius: 3px;
    width: 84%;
    transform  :translate(10%,0)

}


/* index page  */
.menuSection {
    float: left;
    width: 50%;
}

.article {
    float: left;
    width: 90%;
    height: 250px;
    padding: 2%;
    margin: 3%;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}
.homeTitle {
    color: white;
    margin-top: 20%;
}
.blur {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rbga(255, 255, 255, 0.2);
    height: 100%;
    width: 100%;
    border: 2px solid white;
}
.set {
    background-image: url('https://media.istockphoto.com/id/1224500457/photo/programming-code-abstract-technology-background-of-software-developer-and-computer-script.jpg?s=612x612&w=0&k=20&c=nHMypkMTU1HUUW85Zt0Ff7MDbq17n0eVeXaoM9Knt4Q=');
}

.comps {
    background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*F_8axWksLKFjCcd3aAwmew.jpeg');
}

.hooks {
    background-image: url('https://www.ventivtech.com/hubfs/Policy_Lifecycle_Hero.jpg');
}

.state {
    background-image: url('https://www.pullrequest.com/blog/simplify-react-state-management-using-redux-toolkit/images/simplify-react-state-management-using-redux-toolkit.webp');
}

@media  only screen and (max-width:850px) {
    .tableOfContents{
        position: relative;
        display: block;
        width: 100%;
        margin: auto auto;
    }
    .content{
        width: 100%;
        margin:0 0;
        padding:2px;
    }
    .fullImg{
        width: 100%;
        margin: auto;
    }
}